<%= form_for :student_details, url: student_details_path , :method => :post  do |f| %>
  <% if @student_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_detail.errors.count, "error") %> prohibited this student_detail from being saved:</h2>

      <ul>
      <% @student_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :regno %><br>
    <%= f.text_field :regno %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :image_id %><br>
    
    
    <%= cl_image_upload_tag(:image_id) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
