<p id="notice"><%= notice %></p>

<h3><center>Listing Students</center></h3>


<div class="col-md-6 col-md-offset-3">
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr class="active">
          <th>Regno</th>
          <th>Name</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @student_details.each do |student_detail| %>
          <tr>
            <td><%= student_detail.regno %></td>
            <td><%= student_detail.name %></td>
            <td><%= link_to 'Show', student_detail %>
             <!-- link_to 'Edit', edit_student_detail_path(student_detail) %>  for edit-->
            <%= link_to 'Destroy', student_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
 
</div>
 <button onclick="window.location.href='student_details/new'" class="btn btn-primary" style="height:200px;width:200px" ><h4>Upload <br/>
  New Student<br/>
   Details
 </h4>
 </button>  
