<p id="notice"><%= notice %></p>

<p>
  <strong>Regno:</strong>
  <%= @student_detail.regno %>
</p>

<p>
  <strong>Name:</strong>
  <%= @student_detail.name %>
</p>

<p>
  <strong>File Photo:</strong>
 
  <%= cl_image_tag(@student_detail.image_id) %>
</p>

<%= link_to 'Edit', edit_student_detail_path(@student_detail) %> |
<%= link_to 'Back', student_details_path %>
