	<div id="slider" class="swiper-container">
     <div class="swiper-wrapper">
      <div class="item active swiper-slide">
        <div class=" row ">
          <%= link_to(image_tag("home_page/slider/front1.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),"assets/home_page/slider/front1.jpg" ,:target => "_blank") %>
        </div>
      </div>
      <div class="item swiper-slide">
        <div class=" row ">
          <%= link_to(image_tag("home_page/slider/firstpic1.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),"assets/home_page/slider/firstpic1.jpg" ,:target => "_blank") %>
        </div>
      </div>
      
      <div class="item swiper-slide">
        <div class=" row ">
          <%= link_to(image_tag("home_page/slider/second.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),"assets/home_page/slider/second.jpg" ,:target => "_blank") %>
        </div>
      </div>  
      <div class="item swiper-slide">
        <div class=" row " >
          <%= link_to(image_tag("home_page/slider/third.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),"assets/home_page/slider/third.jpg" ,:target => "_blank") %>
        </div>
      </div>  
      <div class="item swiper-slide">
        <div class=" row ">
          <%= link_to(image_tag("home_page/slider/fourth.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),"assets/home_page/slider/fourth.jpg" ,:target => "_blank") %>
        </div> 
      </div>  
      <div class="item swiper-slide">
        <div class=" row ">
          <%= link_to(image_tag("home_page/slider/fifth.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),"assets/home_page/slider/fifth.jpg" ,:target => "_blank") %>
        </div>
      </div>  
    </div>
    <div class="swiper-pagination visible-xs"></div>
     <div class="swiper-button-next hidden-xs"></div>
        <div class="swiper-button-prev hidden-xs"></div>
  </div>
	<div>
	<div class="container">
	<div class="row">
        <div class="col-md-12">
          <div class="content1" style="height:auto; margin:20px;">
            <h3 style="text-align:-webkit-center;"><%= image_tag("about_us/mission&vission/about4.PNG")%></h3>
				<p style="padding-left:30px;text-align:justify; font-size:x-large;">
					Mahatma Gandhi Montessory Senior Secondary School was founded in July. 1979 and is the fifth sister institution of Mahatma Gandhi 
					Shikshan Seva Sansthan besides the Degree College. Inter College. 
					M.G. Montessori Hindi Medium & Shishu Mandir. The object of school is to refresh the memory of the father of the nation and to 
					impart Education to the children 
					on sound lines. This is the management's gift to children of this city.</div> 
        </div>
      </div>     
    </div>  
	<hr width="80%;" style="border-color:#0b0b0b;">
      <div class="row">
        <div class="col-md-12">
          <div class="content1" style="height:auto; margin:20px;">
            <h3 style="text-align:-webkit-center;"><%= image_tag("about_us/mission&vission/mission.PNG",:style => "height:200px;") %></h3>
				<p style="padding-left:30px;text-align:justify; font-size:x-large;">The aim of the institution is to give the student the benefit of a refined
				and liberal thouth on modern lines and a sound moral training and knowledge which might enable them to fit in the socity and become worthy 
				citizens.</br>
				We prepares students to understand, contribute to, and succeed in a rapidly changing 
					society, and thus make the world a better and more just place. We will ensure that our students develop 
					both the skills a sound liberal arts education provides and the competencies essential for success and
					leadership in the emerging creative economy. We will also lead in generating practical and theoretical 
					knowledge that enables people to better understand our world and improve conditions for local and global communities.
				</p>
          </div> 
        </div>
      </div>     
    </div>  
	<hr width="80%;" style="border-color:#0b0b0b;">
    <div clss="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content1"  style="height:auto; margin:20px; margin-top:30px;">
             <h3 style="text-align:-webkit-center; font-size:35px;"><%= image_tag("about_us/mission&vission/vission.png",:style => "height:200px;") %></h3>
				<p style="padding-left:30px;text-align:justify; font-size:x-large;">We will be a school where eduction and social research drive approaches to studying issues of
				our time, such as democracy, urbanization, technological change, economic empowerment, sustainability, migration, and globalization. 
				We will be the preeminent intellectual and creative center for effective engagement that increasingly demands better-designed 
				objects, communication, systems, and organizations to meet social needs.</p>
          </div>  
        </div>  
      </div>
    </div> 
