
	<div class="container">
	  <div id="header">
				<div class="col-xs-3 cart1" style="top:5px;">
					<!--<p height="20px;" width="20px;">M.G.M Sr.Sec. School<p/>-->
				</div>
				<div class="col-xs-6 logo" align="center">
					<h2 height="20px;" width="20px;" style="color:#DAE356;">M.G.M Sr.Sec. School</br>
					Firozabade,UP</h2>
				</div>
				<div class="col-xs-2 hidden-xs social" style="margin-top:40px; float:right;">
					<%= link_to image_tag("home_page/facebook.png",size: "30x30",class: "img-responsive social1",:style => "float: right;"),"https://www.facebook.com/M.G.MSchool1979.firozabade/" %>
					<%= link_to image_tag("home_page/email.png",size: "30x30",class: "img-responsive social1",:style => "float: right;"),"https://www.mgmschoolfirozabad@gmail.com" %>
					<%= image_tag("home_page/twitter1.png",size: "30x30",class: "img-responsive social1",:style => "float: right;") %>
              </div>
			 </div>   	

        <div class=" navbar navbar-default hidden-xs">
          <nav role="navigation" class="navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
					<li><a href="home" class="firstmenu">home</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle " data-toggle="dropdown" href="#">about us<b class="caret"></b></a>
							<ul class="dropdown-menu ">
										<li class="submenu"><a href="about_us">mission & vision</a></li>
										<li class="submenu"><a href="school_glance">school at glance</a></li>
										<li class="submenu"><a href="school_prayer">school prayer</a></li>
										<li class="submenu"><a href="school_anthem">school anthem</a></li>
							</ul>	
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">administration<b class="caret"></b></a>
							<ul class="dropdown-menu">
										<li class="submenu"><a href="admission">admission</a></li>
										<li class="submenu"><a href="uniform">school uniform</a></li>
							</ul>	
					</li>
					<li class="dropdown ">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">student<b class="caret"></b></a>
							<ul class="dropdown-menu">
										<li class="submenu"><a href="parents_recomandation">recommendations to parents</a></li>
							</ul>	
					</li>
					<li class="dropdown ">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">staff<b class="caret"></b></a>
							<ul class="dropdown-menu">
										<li class="submenu"><a href="teaching_staff">teaching staff</a></li>
							</ul>	
					</li>
					<li id="my"><a href="gallery">gallery</a></li>
					<li id="my"><a href="tc">download t.c.</a></li>
					<li id="my"><a href="contact_us">contact us</a></li>
					<li id="my"><a href="login">login</a></li>
				</ul>
          </nav>
        </div>
<div id="scroll" class="hidden-lg hidden-md hidden-sm">
      <nav class="menu-m col-xs-3" role="navigation" style="overflow-y:scroll;">
			  <ul class="nav navbar-nav">
					<li><a href="home" class="firstmenu">home</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle " data-toggle="dropdown" href="#">about us<b class="caret"></b></a>
							<ul class="dropdown-menu ">
										<li class="submenu"><a href="about_us">mission & vision</a></li>
										<li class="submenu"><a href="school_glance">school at glance</a></li>
										<li class="submenu"><a href="school_prayer">school prayer</a></li>
										<li class="submenu"><a href="school_anthem">school anthem</a></li>
							</ul>	GALLERY
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">administration<b class="caret"></b></a>
							<ul class="dropdown-menu">
										<li class="submenu"><a href="admission">admission</a></li>
										<li class="submenu"><a href="uniform">school uniform</a></li>
							</ul>	
					</li>
					<li class="dropdown ">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">student<b class="caret"></b></a>
							<ul class="dropdown-menu">
										<li class="submenu"><a href="parents_recomandation">recommendations to<br> parents</a></li>
							</ul>	
					</li>
					<li class="dropdown ">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">staff<b class="caret"></b></a>
							<ul class="dropdown-menu">
										<li class="submenu"><a href="teaching_staff">teaching staff</a></li>
							</ul>	
					</li>
					<li id="my"><a href="gallery">gallery</a></li>
					<li id="my"><a href="tc">download t.c.</a></li>
					<li id="my"><a href="contact_us">contact us</a></li>
					<li id="my"><a href="login">login</a></li>
				</ul>
  </nav>
			  <a href="#" class="nav-toggle"><span class="fa fa-bars"></span></a>
</div>
	<div id="slider" class="swiper-container">
		 <div class="swiper-wrapper">
			<div class="item active swiper-slide">
				<div class=" row hidden-lg hidden-md hidden-sm visible-xs">
					<%= link_to(image_tag("home_page/slider/front1.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),image_path("#")) %>
				</div>
				<div class=" hidden-lg hidden-md hidden-xs visible-sm-">
					<%= link_to(image_tag("home_page/slider/front1.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),image_path("#")) %>
				</div>
				<div class=" hidden-lg hidden-sm hidden-xs visible-md">
					<%= link_to(image_tag("home_page/slider/front1.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),image_path("#")) %>
				</div>
				<div class=" hidden-sm hidden-md hidden-xs visible-lg">
					<%= link_to(image_tag("home_page/slider/front1.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),image_path("#")) %>
				</div>
			</div>
			<div class="item swiper-slide">
				<div class=" row hidden-lg hidden-md hidden-sm visible-xs">
					<%= link_to(image_tag("home_page/slider/firstpic1.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),image_path("#")) %>
				</div>
				<div class=" hidden-lg hidden-md hidden-xs visible-sm-">
					<%= link_to(image_tag("home_page/slider/firstpic1.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),image_path("#")) %>
				</div>
				<div class=" hidden-lg hidden-sm hidden-xs visible-md">
					<%= link_to(image_tag("home_page/slider/firstpic1.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),image_path("#")) %>
				</div>
				<div class="hidden-sm hidden-md hidden-xs visible-lg">
					<%= link_to(image_tag("home_page/slider/firstpic1.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),image_path("#")) %>
				</div>
			</div>
			
			<div class="item swiper-slide">
				<div class=" hidden-lg hidden-md hidden-sm visible-xs">
					<%= link_to(image_tag("home_page/slider/second.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),image_path("#")) %>
				</div>
				<div class="hidden-lg hidden-md hidden-xs visible-sm-">
					<%= link_to(image_tag("home_page/slider/second.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),image_path("#")) %>
				</div>
				<div class="hidden-lg hidden-sm hidden-xs visible-md">
					<%= link_to(image_tag("home_page/slider/second.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),image_path("#")) %>
				</div>
				<div class="hidden-sm hidden-md hidden-xs visible-lg">
					<%= link_to(image_tag("home_page/slider/second.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),image_path("#")) %>
				</div>
			</div>	
			<div class="item swiper-slide">
				<div class=" hidden-lg hidden-md hidden-sm visible-xs">
					<%= link_to(image_tag("home_page/slider/third.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),image_path("#")) %>
				</div>
				<div class="hidden-lg hidden-md hidden-xs visible-sm-">
					<%= link_to(image_tag("home_page/slider/third.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),image_path("#")) %>
				</div>
				<div class="hidden-lg hidden-sm hidden-xs visible-md">
					<%= link_to(image_tag("home_page/slider/third.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),image_path("#")) %>
				</div>
				<div class="hidden-sm hidden-md hidden-xs visible-lg">
					<%= link_to(image_tag("home_page/slider/third.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),image_path("#")) %>
				</div>
			</div>	
			<div class="item swiper-slide">
				<div class="hidden-lg hidden-md hidden-sm visible-xs">
					<%= link_to(image_tag("home_page/slider/fourth.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),image_path("#")) %>
				</div> 
				<div class="hidden-lg hidden-md hidden-xs visible-sm-">
					<%= link_to(image_tag("home_page/slider/fourth.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),image_path("#")) %>
				</div>
				<div class="hidden-lg hidden-sm hidden-xs visible-md">
					<%= link_to(image_tag("home_page/slider/fourth.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),image_path("#")) %>
				</div>
				<div class="hidden-sm hidden-md hidden-xs visible-lg">
					<%= link_to(image_tag("home_page/slider/fourth.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),image_path("#")) %>
				</div>
			</div>	
			<div class="item swiper-slide">
				<div class=" hidden-lg hidden-md hidden-sm visible-xs">
					<%= link_to(image_tag("home_page/slider/fifth.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),image_path("#")) %>
				</div>
				<div class=" hidden-lg hidden-md hidden-xs visible-sm-">
					<%= link_to(image_tag("home_page/slider/fifth.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),image_path("#")) %>
				</div>
				<div class="hidden-lg hidden-sm hidden-xs visible-md">
					<%= link_to(image_tag("home_page/slider/fifth.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),image_path("#")) %>
				</div>
				<div class="hidden-sm hidden-md hidden-xs visible-lg">
					<%= link_to(image_tag("home_page/slider/fifth.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),image_path("#")) %>
				</div>
			</div>	
		</div>
		<div class="swiper-pagination visible-xs"></div>
		 <div class="swiper-button-next hidden-xs"></div>
        <div class="swiper-button-prev hidden-xs"></div>
	</div>
	<div>
	<div class="welcome_msg">
	
	<div class="col-xs-12"><%=image_tag("home_page/welcome3.PNG",class: "img-responsive",:style => "text-align:-webkit-center; display:-webkit-inline-box",:alert=>"welcome") %></div>
	<div class="director_img"><%=image_tag("home_page/j1.jpg",class: "img-responsive",:style => "margin-top:30px; border-radius:10px; width:100%;",:alert=>"welcome") %></div>
	
	<div class="director_msg" style="font-size:20px; text-align:left;">
	<p class="msg2"><h2 >Dear Parents,</h2>
	Welcome to M.G.M Sr. Sec. School and thank you so much for your interest in our school.</br></br>
 
	M.G.M Sr. Sec. School is a warm, caring, family-orientated community housed in a well-resourced learning environment,
	which incorporates purposeful indoor and outdoor areas. The latest innovations in information technology are embraced 
	as we seek to enrich learning, provide opportunities for challenge and promote inclusion.</br></br>
 
	As a team we constantly strive to achieve the very best for you and your child to create successful and happy children. 
	Education is a partnership between home and school and we place a great deal of emphasis on our relationship with parents. 
	We believe that children learn best when home and school work together for their benefit.</br></br>
 
	We hope that this brochure gives you a flavour of what our wonderful school has to offer, and that we will see you at one 
	of our open mornings where you will see the school in action and understand what we are all about, but if you have any questions
	in the meantime please contact the school office.
	<h2>Best regards</h2>
	Mr.Dinesh Kr. Sharma<br>
	Principle
	</p>
	</div>
	</div>
	<div class="footer footerdark">
		<div class="container">
			<!-- 1st row -->
			<div class="row-fluid">
				<div class="col-xs-4">
					<h1 class="title"><i class="fa fa-phone" style="font-size:15px;"></i>  contact us</h1>
					<hr></br>
					<a href=" mailto:mgmschoolfirozabad@gmail.com"><i class="fa fa-envelope-o"style="font-size:19px;"> mgmschoolfirozabad@gmail.com</i></a></br></br></br></br></br></br>
					<i class="fa fa-phone" style="font-size:19px;"> +91-9219420221</i>
				</div>
				<div class="col-xs-4">
				
					<h1 class="title"><i class="fa fa-map-marker" style="font-size:15px;"></i> Address</h1><hr>
					
					<div id="googleMap" class="col-xs-6" style="height:250px;"></div>
					<div id="address" class="col-xs-6">
              <addressess>
				M.G.M Sr. Sec. School<br>
				Firozabad,Dholpur road,<br>
				Uttar Paradesh ,<br>
				Pin Code:283203
			
              </addressess>
              </div>
					
				</div>
				<div class="col-xs-4">
				
					<h1 class="title"><i class="fa fa-comment" style="font-size:15px;"></i> Questions? / Feedback</h1>
					<hr>
					<div class="done">
						<div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">×</button>
							Your message has been sent. Thank you!
						</div>
					</div>
					<form method="post" action="#" id="contactform">
						<div class="form">
							<div class="controls controls-row">
								<input class="span6 text-box" type="text" name="name" placeholder="Name" style="width:45%;">
								<input class="span6 text-box" type="text" name="email" placeholder="E-mail">
							</div>
							<div class="controls">
								<textarea class="span12 text-msg-box" name="comment" rows="4" placeholder="Message"></textarea>
							</div>
							<input type="submit" id="submit" class="btn" value="Send" style="outline:none;">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- 2nd row -->
	<div class="footerbottom footerbottomdark">
		<div class="container">
			<div class="row-fluid">
				<!-- left -->
				<div class="col-xs-4 smallspacetop">
					<p class="smaller">
						<span class="copyright"></span> © Copyright 2015 mgmssschool.com
					</p>
				</div>
				<!-- right -->
				<div class="col-xs-4 smallspacetop" >
					<div class=" smaller" style="text-align:center;">
						<ul class="footermenu" >
							<li><a href="home">Home</a></li>
							<li><a href="about_us">About Us</a></li>
							<li><a href="gallery.html">Gallery</a></li>
							<li><a href="teaching_staff.html">Staff</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
					<div class="clearfix">
					</div>
				</div>
				<div class="col-xs-4 smallspacetop">
				<a href="https://www.facebook.com/M.G.MSchool1979.firozabade/" class="social1"><i class="fa fa-facebook-official"></i></a>
				<a href="https://plus.google.com/u/3/" class="social1"><i class="fa fa-google-plus-square"></i></a>
				<a href="https://twitter.com/Mgm_firozabade" class="social1"><i class="fa fa-twitter-square"></i></a>
				</div>
				<!-- end right -->
			</div>
		</div>
	</div>
<a href="#" class="back-to-top" style="display: inline;">
 
<i class="fa fa-arrow-circle-up back-to-top"></i>
 
</a>
</div>