<div id="slider" class="swiper-container">
     <div class="swiper-wrapper">
      <div class="item active swiper-slide">
        <div class=" row ">
          <%= link_to(image_tag("home_page/slider/front1.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),"assets/home_page/slider/front1.jpg" ,:target => "_blank") %>
        </div>
      </div>
      <div class="item swiper-slide">
        <div class=" row ">
          <%= link_to(image_tag("home_page/slider/firstpic1.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),"assets/home_page/slider/firstpic1.jpg" ,:target => "_blank") %>
        </div>
      </div>
      
      <div class="item swiper-slide">
        <div class=" row ">
          <%= link_to(image_tag("home_page/slider/second.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),"assets/home_page/slider/second.jpg" ,:target => "_blank") %>
        </div>
      </div>  
      <div class="item swiper-slide">
        <div class=" row " >
          <%= link_to(image_tag("home_page/slider/third.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),"assets/home_page/slider/third.jpg" ,:target => "_blank") %>
        </div>
      </div>  
      <div class="item swiper-slide">
        <div class=" row ">
          <%= link_to(image_tag("home_page/slider/fourth.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),"assets/home_page/slider/fourth.jpg" ,:target => "_blank") %>
        </div> 
      </div>  
      <div class="item swiper-slide">
        <div class=" row ">
          <%= link_to(image_tag("home_page/slider/fifth.jpg",class: "img-responsive",:style => "width:100% height:100%",:alert=>"winterarrives"),"assets/home_page/slider/fifth.jpg" ,:target => "_blank") %>
        </div>
      </div>  
    </div>
    <div class="swiper-pagination visible-xs"></div>
     <div class="swiper-button-next hidden-xs"></div>
        <div class="swiper-button-prev hidden-xs"></div>
  </div>
	<div class="welcome_msg">
	
		<div class="col-xs-12"><%=image_tag("home_page/welcome3.PNG",class: "img-responsive",:style => "text-align:-webkit-center; display:-webkit-inline-box",:alert=>"welcome") %></div>
		<div class="director_img"><%=image_tag("home_page/j1.jpg",class: "img-responsive",:style => "margin-top:30px; border-radius:10px; width:100%;",:alert=>"welcome") %></div>
	
		<div class="director_msg" style="font-size:20px; text-align:left;">
			<p class="msg2"><h2 >Dear Parents,</h2>
			Welcome to M.G.M Sr. Sec. School and thank you so much for your interest in our school.</br></br>
		 
			M.G.M Sr. Sec. School is a warm, caring, family-orientated community housed in a well-resourced learning environment,
			which incorporates purposeful indoor and outdoor areas. The latest innovations in information technology are embraced 
			as we seek to enrich learning, provide opportunities for challenge and promote inclusion.</br></br>
 
			As a team we constantly strive to achieve the very best for you and your child to create successful and happy children. 
			Education is a partnership between home and school and we place a great deal of emphasis on our relationship with parents. 
			We believe that children learn best when home and school work together for their benefit.</br></br>
 
			We hope that this brochure gives you a flavour of what our wonderful school has to offer, and that we will see you at one 
			of our open mornings where you will see the school in action and understand what we are all about, but if you have any questions
			in the meantime please contact the school office.
			<h2>Best regards</h2>
			Mr.Dinesh Kr. Sharma<br>
			Principle
			</p>
		</div>
	</div>