<div class="container">
    <div id="header">
        <div class="col-xs-3 cart1" style="top:5px;">
          <!--<p height="20px;" width="20px;">M.G.M Sr.Sec. School<p/>-->
        </div>
        <div class="col-xs-6 logo" align="center">
          <h2 height="20px;" width="20px;" style="color:#DAE356;">M.G.M Sr.Sec. School</br>
         Firozabad,UP</h2>
        </div>
        <div class="col-xs-2 hidden-xs social" style="margin-top:40px; float:right;">
          
          <%= link_to image_tag("home_page/facebook.png",size: "30x30",class: "img-responsive social1",:style => "float: right"),"https://www.facebook.com/M.G.MSchool1979.firozabade" , target: "_blank"%>
          <%= link_to image_tag("home_page/email.png",size: "30x30",class: "img-responsive social1",:style => "float: right"),"mailto:mgmschoolfirozabad@gmail.com" , target: "_blank"%>
          <%= link_to image_tag("home_page/twitter1.png",size: "30x30",class: "img-responsive social1",:style => "float: right"),"https://twitter.com/Mgm_firozabade" , target: "_blank"%>
              </div>
       </div>     

        <div class=" navbar navbar-default hidden-xs">
          <nav role="navigation" class="navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
          <li><a href="<%=home_path %>" class="firstmenu">home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle " data-toggle="dropdown" href="#">about us<b class="caret"></b></a>
              <ul class="dropdown-menu ">
                    <li class="submenu"><a href="<%=about_us_path%>">mission & vision</a></li>
                    <li class="submenu"><a href="<%=school_glance_path%>">school at glance</a></li>
                    <li class="submenu"><a href="<%=school_prayer_path%>">school prayer</a></li>
                    <li class="submenu"><a href="<%=school_anthem_path%>">school anthem</a></li>
              </ul> 
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">administration<b class="caret"></b></a>
              <ul class="dropdown-menu">
                    <li class="submenu"><a href="<%=admission_path%>">admission</a></li>
                    <li class="submenu"><a href="<%=uniform_path%>">school uniform</a></li>
              </ul> 
          </li>
          <li class="dropdown ">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">student<b class="caret"></b></a>
              <ul class="dropdown-menu">
                    <li class="submenu"><a href="<%=parents_recomandation_path%>">recommendations to parents</a></li>
                     <li class="submenu"><a href="<%=fee_stucture_path%>">Fee stucture</a></li>
              </ul> 

          </li>
          <li class="dropdown ">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">staff<b class="caret"></b></a>
              <ul class="dropdown-menu">
                    <li class="submenu"><a href="<%=teaching_staff_path%>">teaching staff</a></li>
              </ul> 
          </li>
          <li id="my"><a href="<%=gallery_path %>">gallery</a></li>
          <li id="my"><a href="<%=tc_path%>">download t.c.</a></li>
          <li id="my"><a href="<%=contact_us_path%>">contact us</a></li>
          <li id="my"><a href="<%=login_path%>">login</a></li>
        </ul>
          </nav>
        </div>
<div id="scroll" class="hidden-lg hidden-md hidden-sm">
      <nav class="menu-m col-xs-3" role="navigation" style="overflow-y:scroll;">
        <ul class="nav navbar-nav">
          <li><a href="<%=home_path%>" class="firstmenu">home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle " data-toggle="dropdown" href="#">about us<b class="caret"></b></a>
              <ul class="dropdown-menu ">
                    <li class="submenu"><a href="<%=about_us_path%>">mission & vision</a></li>
                    <li class="submenu"><a href="<%=school_glance_path%>">school at glance</a></li>
                    <li class="submenu"><a href="<%=school_prayer_path%>">school prayer</a></li>
                    <li class="submenu"><a href="<%=school_anthem_path%>">school anthem</a></li>
              </ul> GALLERY
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">administration<b class="caret"></b></a>
              <ul class="dropdown-menu">
                    <li class="submenu"><a href="<%=admission_path%>">admission</a></li>
                    <li class="submenu"><a href="<%=uniform_path%>">school uniform</a></li>
              </ul> 
          </li>
          <li class="dropdown ">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">student<b class="caret"></b></a>
              <ul class="dropdown-menu">
                    <li class="submenu"><a href="<%=parents_recomandation_path%>">recommendations to<br> parents</a></li>
              </ul> 
          </li>
          <li class="dropdown ">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">staff<b class="caret"></b></a>
              <ul class="dropdown-menu">
                    <li class="submenu"><a href="<%=teaching_staff_path%>">teaching staff</a></li>
              </ul> 
          </li>
          <li id="my"><a href="<%=gallery_path%>">gallery</a></li>
          <li id="my"><a href="<%=tc_path%>">download t.c.</a></li>
          <li id="my"><a href="<%=contact_us_path%>">contact us</a></li>
          <li id="my"><a href="<%=login_path%>">login</a></li>
        </ul>
  </nav>
        <a href="#" class="nav-toggle"><span class="fa fa-bars"></span></a>
</div>