<!DOCTYPE html>
<html>
<head>
  <title>SchoolProject</title>
  <!-- <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300' rel='stylesheet' type='text/css'>
  
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    // <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    // <script src="https://cdn.jsdelivr.net/jquery.scrolltofixed/0.1/jquery-scrolltofixed-min.js" type="text/javascript"></script>
 --> 

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  

<script>
var myCenter=new google.maps.LatLng(27.159355, 78.396830);

function initialize()
{
var mapProp = {
  center:myCenter,
  zoom:8,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };

var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

var marker=new google.maps.Marker({
  position:myCenter,
  });

marker.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
</head>
<body>
  <div class="container">
    <div id="header">
        <div class="col-xs-3 cart1" style="top:5px;">
          <!--<p height="20px;" width="20px;">M.G.M Sr.Sec. School<p/>-->
        </div>
        <div class="col-xs-6 logo" align="center">
          <h2 height="20px;" width="20px;" style="color:#DAE356;">M.G.M Sr.Sec. School</br>
          Firozabade,UP</h2>
        </div>
        <div class="col-xs-2 hidden-xs social" style="margin-top:40px; float:right;">
          <%= link_to image_tag("home_page/facebook.png",size: "30x30",class: "img-responsive social1",:style => "float: right"),"https://www.facebook.com/M.G.MSchool1979.firozabade" %>
          <%= link_to image_tag("home_page/email.png",size: "30x30",class: "img-responsive social1",:style => "float: right"),"mailto:mgmschoolfirozabad@gmail.com" %>
          <%= link_to image_tag("home_page/twitter1.png",size: "30x30",class: "img-responsive social1",:style => "float: right"),"https://twitter.com/Mgm_firozabade" %>
              </div>
       </div>     

        <div class=" navbar navbar-default hidden-xs">
          <nav role="navigation" class="navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
          <li><a href="home" class="firstmenu">home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle " data-toggle="dropdown" href="#">about us<b class="caret"></b></a>
              <ul class="dropdown-menu ">
                    <li class="submenu"><a href="about_us">mission & vision</a></li>
                    <li class="submenu"><a href="school_glance">school at glance</a></li>
                    <li class="submenu"><a href="school_prayer">school prayer</a></li>
                    <li class="submenu"><a href="school_anthem">school anthem</a></li>
              </ul> 
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">administration<b class="caret"></b></a>
              <ul class="dropdown-menu">
                    <li class="submenu"><a href="admission">admission</a></li>
                    <li class="submenu"><a href="uniform">school uniform</a></li>
              </ul> 
          </li>
          <li class="dropdown ">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">student<b class="caret"></b></a>
              <ul class="dropdown-menu">
                    <li class="submenu"><a href="parents_recomandation">recommendations to parents</a></li>
              </ul> 
          </li>
          <li class="dropdown ">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">staff<b class="caret"></b></a>
              <ul class="dropdown-menu">
                    <li class="submenu"><a href="teaching_staff">teaching staff</a></li>
              </ul> 
          </li>
          <li id="my"><a href="gallery">gallery</a></li>
          <li id="my"><a href="tc">download t.c.</a></li>
          <li id="my"><a href="contact_us">contact us</a></li>
          <li id="my"><a href="login">login</a></li>
        </ul>
          </nav>
        </div>
<div id="scroll" class="hidden-lg hidden-md hidden-sm">
      <nav class="menu-m col-xs-3" role="navigation" style="overflow-y:scroll;">
        <ul class="nav navbar-nav">
          <li><a href="home" class="firstmenu">home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle " data-toggle="dropdown" href="#">about us<b class="caret"></b></a>
              <ul class="dropdown-menu ">
                    <li class="submenu"><a href="about_us">mission & vision</a></li>
                    <li class="submenu"><a href="school_glance">school at glance</a></li>
                    <li class="submenu"><a href="school_prayer">school prayer</a></li>
                    <li class="submenu"><a href="school_anthem">school anthem</a></li>
              </ul> GALLERY
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">administration<b class="caret"></b></a>
              <ul class="dropdown-menu">
                    <li class="submenu"><a href="admission">admission</a></li>
                    <li class="submenu"><a href="uniform">school uniform</a></li>
              </ul> 
          </li>
          <li class="dropdown ">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">student<b class="caret"></b></a>
              <ul class="dropdown-menu">
                    <li class="submenu"><a href="parents_recomandation">recommendations to<br> parents</a></li>
              </ul> 
          </li>
          <li class="dropdown ">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">staff<b class="caret"></b></a>
              <ul class="dropdown-menu">
                    <li class="submenu"><a href="teaching_staff">teaching staff</a></li>
              </ul> 
          </li>
          <li id="my"><a href="gallery">gallery</a></li>
          <li id="my"><a href="tc">download t.c.</a></li>
          <li id="my"><a href="contact_us">contact us</a></li>
          <li id="my"><a href="login">login</a></li>
        </ul>
  </nav>
        <a href="#" class="nav-toggle"><span class="fa fa-bars"></span></a>
</div>

<%= favicon_link_tag 'favicon.ico' %>
<%= yield %>
<div class="footer footerdark">
    <div class="container">
      <!-- 1st row -->
      <div class="row-fluid">
        <div class="col-xs-4">
          <h1 class="title"><i class="fa fa-phone" style="font-size:15px;"></i>  contact us</h1>
          <hr></br>
          <a href=" mailto:mgmschoolfirozabad@gmail.com"><i class="fa fa-envelope-o"style="font-size:19px;"> mgmschoolfirozabad@gmail.com</i></a></br></br></br></br></br></br>
          <i class="fa fa-phone" style="font-size:19px;"> +91-9219420221</i>
        </div>
        <div class="col-xs-4">
        
          <h1 class="title"><i class="fa fa-map-marker" style="font-size:15px;"></i> Address</h1><hr>
          
          <div id="googleMap" class="col-xs-6" style="height:250px;"></div>
          <div id="address" class="col-xs-6">
              <addressess>
        M.G.M Sr. Sec. School<br>
        Firozabad,Dholpur road,<br>
        Uttar Paradesh ,<br>
        Pin Code:283203
      
              </addressess>
              </div>
          
        </div>
        <div class="col-xs-4">
        
          <h1 class="title"><i class="fa fa-comment" style="font-size:15px;"></i> Questions? / Feedback</h1>
          <hr>
          <div class="done">
            <div class="alert alert-success">
              <button type="button" class="close" data-dismiss="alert">×</button>
              Your message has been sent. Thank you!
            </div>
          </div>
          <form method="post" action="#" id="contactform">
            <div class="form">
              <div class="controls controls-row">
                <input class="span6 text-box" type="text" name="name" placeholder="Name" style="width:45%;">
                <input class="span6 text-box" type="text" name="email" placeholder="E-mail">
              </div>
              <div class="controls">
                <textarea class="span12 text-msg-box" name="comment" rows="4" placeholder="Message"></textarea>
              </div>
              <input type="submit" id="submit" class="btn" value="Send" style="outline:none;">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- 2nd row -->
  <div class="footerbottom footerbottomdark">
    <div class="container">
      <div class="row-fluid">
        <!-- left -->
        <div class="col-xs-4 smallspacetop">
          <p class="smaller">
            <span class="copyright"></span> © Copyright 2015 mgmssschool.com
          </p>
        </div>
        <!-- right -->
        <div class="col-xs-4 smallspacetop" >
          <div class=" smaller" style="text-align:center;">
            <ul class="footermenu" >
              <li><a href="home">Home</a></li>
              <li><a href="about_us">About Us</a></li>
              <li><a href="gallery.html">Gallery</a></li>
              <li><a href="teaching_staff.html">Staff</a></li>
              <li><a href="contact_us.html">Contact</a></li>
            </ul>
          </div>
          <div class="clearfix">
          </div>
        </div>
        <div class="col-xs-4 smallspacetop">
        <a href="https://www.facebook.com/M.G.MSchool1979.firozabade/" class="social1"><i class="fa fa-facebook-official"></i></a>
        <a href="https://plus.google.com/u/2/" class="social1"><i class="fa fa-google-plus-square"></i></a>
        <a href="https://twitter.com/Mgm_firozabade" class="social1"><i class="fa fa-twitter-square"></i></a>
        </div>
        <!-- end right -->
      </div>
    </div>
  </div>
  <a href="#" class="back-to-top" style="display: inline;">
 
<img src="assets/home_page/top.png"><i class="fa fa-arrow-circle-up back-to-top"></i>
 
</a>
</div>
<script>
// Vars

var wrapper    = $("#site-wrapper"),
    menu       = $(".menu-m"),
    menuLinks  = $(".menu-m ul li a"),
    toggle     = $(".nav-toggle"),
    toggleIcon = $(".nav-toggle span");
html = $("html");
function toggleThatNav() {
  if (menu.hasClass("show-nav")) {
    if (!Modernizr.csstransforms) {
      menu.removeClass("show-nav");
      toggle.removeClass("show-nav");
      menu.animate({
        right: "-=300"
      }, 500);
      toggle.animate({
        right: "-=300"
      }, 500);
    html.css('overflow', 'auto');
    } else {
      menu.removeClass("show-nav");
      toggle.removeClass("show-nav");
    html.css('overflow', 'auto');
    }
    
  } else {
    if (!Modernizr.csstransforms) {
      menu.addClass("show-nav");
      toggle.addClass("show-nav");
      menu.css("right", "0px");
      toggle.css("right", "330px");
    html.css('overflow', 'hidden');
    } else {
      menu.addClass("show-nav");
      toggle.addClass("show-nav");
    html.css('overflow', 'hidden');
    } 
  }
}

function changeToggleClass() {
  toggleIcon.toggleClass("fa-times");
  toggleIcon.toggleClass("fa-bars");
}

$(function() {
  toggle.on("click", function(e) {
    e.stopPropagation();
    e.preventDefault();
    toggleThatNav();
    changeToggleClass();
  });
    // Keyboard Esc event support
  $(document).keyup(function(e) {
    if (e.keyCode == 27) {
      if (menu.hasClass("show-nav")) {
        if (!Modernizr.csstransforms) {
          menu.removeClass("show-nav");
          toggle.removeClass("show-nav");
          menu.css("right", "-300px");
          toggle.css("right", "30px");
          changeToggleClass();
        } else {
          menu.removeClass("show-nav");
          toggle.removeClass("show-nav");
          changeToggleClass();
        }
      }
    } 
  });
});
</script>
<script>
if($(window).width() >= 769){
jQuery(document).ready(function(){
    $(".dropdown").hover(
        function() { $('.dropdown-menu', this).fadeIn("fast");
                $('b', this).toggleClass("caret caret-up");
        },
        function() { $('.dropdown-menu', this).fadeOut("fast");
                $('b', this).toggleClass("caret caret-up"); 
    });
});
}
if($(window).width()<=767){
$(document).ready(function() {
        $('#header').scrollToFixed();
      $('#search').scrollToFixed();
    });}  
    if($(window).width()>=767){
$(document).ready(function() {
        $('#myNavbar').scrollToFixed();
    });}
$(document).ready(function() {
        $('.cart1').scrollToFixed();
    });
if($(window).width() > 768){  
$(window).scroll( function(){
        if($(window).scrollTop() > 50) $(".cart1").addClass("cart2");
        else $(".cart1").removeClass("cart2");    
    });
  }
  
  var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 30,
    autoplay: 3500,
    centeredSlides: true,
        loop: true,
    effect: "17,13,1",
            effectRandom: true,
      slices: 14,
            boxes: 8,
    autoplayDisableOnInteraction: false
    });
$(document).ready(function(){
    /* Get iframe src attribute value i.e. YouTube video url
    and store it in a variable */
    var url = $("#rarerabbitVideo").attr('src');
    
    /* Assign empty url value to the iframe src attribute when
    modal hide, which stop the video playing */
    $("#myModal").on('hide.bs.modal', function(){
        $("#rarerabbitVideo").attr('src', '');
    });
    
    /* Assign the initially stored url back to the iframe src
    attribute when modal is displayed again */
    $("#myModal").on('show.bs.modal', function(){
        $("#rarerabbitVideo").attr('src', url);
    });
});
$(document).ready(function() {   
            var sideslider = $('[data-toggle=collapse-side]');
            var sel = sideslider.attr('data-target');
            var sel2 = sideslider.attr('data-target-2');
            sideslider.click(function(event){
                $(sel).toggleClass('in');
                $(sel2).toggleClass('out');
            });
        });
     videoSRC = $('iframe').attr('src');
      $('button .close').click(function (e) {
     $(' iframe').attr('src', videoSRC);
          });
          
     $('#myModal').on('hidden.bs.modal', function (e) {
          $(' iframe').attr('src', videoSRC);
          });
     
</script>
<script>
jQuery(document).ready(function() {
 
var offset = 250;
 
var duration = 300;
 
jQuery(window).scroll(function() {
 
if (jQuery(this).scrollTop() > offset) {
 
jQuery(‘.back-to-top’).fadeIn(duration);
 
} else {
 
jQuery(‘.back-to-top’).fadeOut(duration);
 
}
 
});
 
&nbsp;
 
jQuery(‘.back-to-top’).click(function(event) {
 
event.preventDefault();
 
jQuery(‘html, body’).animate({scrollTop: 0}, duration);
 
return false;
 
})
 
});
</script>
</body>
</html>
